.modale-container {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  margin: 0;
}

p {
  display: block;
  margin-left: 30px;
}

button {
  border: 1px solid red;
  margin: 1rem;
}

.yes {
  display: block;
}

.no {
  display: block;
}

.conainer-buttons {
  display: flex;
  align-items: center;
}
