div([style.background-color]='color').modale-container
  div
    p {{ texte }}
  div.conainer-buttons
    button(type='button', (click)='yes()').yes yes
    button(type='button', (click)='no()').no no
